.col-lg-3= render 'admin/admin_nav'
.col-lg-9
  %h1 Wig Lengths
  - unless @wig_lengths.empty?
    %table.table.table-bordered.table-hover
      %tr
        %th Title
        %th Length (in.)
        %th
        %th
      - @wig_lengths.each do |wig_length|
        %tr
          %td= wig_length.title
          %td= wig_length.inches
          %td= link_to 'Edit', edit_admin_wig_length_path(wig_length), class: 'btn btn-warning'
          %td= link_to 'Destroy', [:admin, wig_length], class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'New Wig Length', new_admin_wig_length_path, class: 'btn btn-lg btn-primary'