-#<h2>Resend confirmation instructions</h2>
-#
-#<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
-#  <%= devise_error_messages! %>
-#
-#  <div><%= f.label :email %><br />
-#  <%= f.email_field :email, autofocus: true %></div>
-#
-#  <div><%= f.submit "Resend confirmation instructions" %></div>
-#<% end %>
-#
-#<%= render "devise/shared/links" %>
.container.main-container.headerOffset
  .row
    .breadcrumbDiv.col-lg-12
      %ul.breadcrumb
        %li= link_to 'Home', root_path
        %li.active Resend Confirmation Instructions
  .row
    .col-lg-9.col-md-9.col-sm-7
      %h1.section-title-inner
        %span
          %i.fa.fa-lock &nbsp;Resend Confirmation Instructions
      .row.userInfo
        .col-xs-12.col-sm-6
          = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {class: 'logForm'}) do |f|
            .form-group
              = f.label :email, 'Email Address'
              = f.email_field :email, class: 'form-control', placeholder: 'Enter Email Address', autofocus: true, required: ''
            .form-group
              %p
                = f.submit 'RESEND CONFIRMATION INSTRUCTIONS', class: 'btn btn-block btn-lg btn-primary'
          %p.text-center
            First time here?
            = link_to 'SIGN UP', new_registration_path(resource_name)
          %p.text-center
            Forgot your password?
            = link_to 'CLICK HERE', new_password_path(resource_name)
          %p.text-center
            Didn't receive confirmation instructions?
            = link_to 'RESEND', new_confirmation_path(resource_name)