.row
  .breadcrumbDiv.col-lg-12
    %ul.breadcrumb
      %li= link_to 'Home', root_path
      %li.active Create Account
.row
  .col-lg-9.col-md-9.col-sm-7
    %h1.section-title-inner
      %span
        %i.fa.fa-lock &nbsp;Create Account
    .row.userInfo
      .col-xs-12.col-sm-6
        = link_to 'SIGN UP WITH FACEBOOK', user_omniauth_authorize_path(:facebook), class: 'btn btn-block fb_button btn-lg'
        %hr
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'logForm'}) do |f|
          - unless resource.errors.empty?
            .alert.alert-danger.alert-dismissable
              = devise_error_messages!
          .form-group
            = f.label :email, 'Email Address'
            = f.email_field :email, class: 'form-control', placeholder: 'Enter Email Address', autofocus: true, required: ''
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control', placeholder: 'Enter Password', autocomplete: 'off', required: ''
            .help-block * at least 8 characters long, 1 uppercase letter, 1 lower case letter, and 1 number
          .form-group
            = f.label :password_confirmation, 'Confirm Password'
            = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Enter Password Confirmation', autocomplete: 'off', required: ''
          .form-group
            = f.label :first_name, 'First Name'
            = f.text_field :first_name, class: 'form-control', placeholder: 'Enter First Name', required: ''
          .form-group
            = f.label :last_name, 'Last Name'
            = f.text_field :last_name, class: 'form-control', placeholder: 'Enter Last Name', required: ''
          .well
            .form-group
              = label_tag :captcha, 'Enter CAPTCHA Text'
              .pull-right= captcha_tag
              %br
              %br
              = text_field_tag :captcha, '', class: 'form-control', autocomplete: 'off', required: ''
          .form-group
            %p
              = f.submit 'SIGN UP', class: 'btn btn-block btn-lg btn-primary'
        %p.text-center
          Already a member?
          = link_to 'SIGN IN', new_session_path(resource_name)
        %p.text-center
          Forgot your password?
          = link_to 'CLICK HERE', new_password_path(resource_name)
        %p.text-center
          Didn't receive confirmation instructions?
          = link_to 'RESEND', new_confirmation_path(resource_name)