.image-show-case-wrapper.center-block.relative.col-lg-12
  #imageShowCase.owl-carousel.owl-theme
    = render partial: 'product_slide', locals: {title: 'Custom Wigs', link_text: 'Customize My Wig', link: '#', alt_text: '* covered by most insurers', image: 'slider1.jpg'}
    = render partial: 'product_slide', locals: {title: 'Pre-Made Wigs', link_text: 'Shop Now', link: '#', alt_text: '* covered by most insurers', image: 'slider2.jpg'}
    = render partial: 'product_slide', locals: {title: 'Featured Wig Maker 1', link_text: 'Shop Wig Maker 1', link: '#', alt_text: '', image: 'slider3.jpg'}
    = render partial: 'product_slide', locals: {title: 'Featured Wig Maker 2', link_text: 'Shop Wig Maker 2', link: '#', alt_text: '', image: 'slider4.jpg'}
  %div{style: 'clear: both;'}
  %a#ps-next.ps-nav
    = image_tag 'arrow-right.png'
  %a#ps-prev.ps-nav
    = image_tag 'arrow-left.png'
%div{style: 'clear: both;'}
.col-lg-12{style: 'margin-top: 30px;'}
  %h3.boxes-title-1
    %span Our Custom Wig Process
  .col-lg-6.col-lg-offset-3.col-xs-12.col-sm-12.col-md-12
    %h4.text-center INSO Wigs allows you customize a wig that will be 100% your own style.  You select the length of the hair, the style, and the color, and we will create the ensemble for you.
.row.featuredPostContainer
  .featuredImageLook3.col-lg-12
    = render partial: 'about_cell', locals: {title: 'Step 1 - Select Length', description: 'Choose the length of your custom wig.  Whether the short <strong>Halle Berry</strong>, or the long and full <strong>Beyonce</strong>, we have you covered.', button_text: 'Get Started', link: '#', image: 'temp/black-bg.jpg'}
    = render partial: 'about_cell', locals: {title: 'Step 2 - Select Style', description: 'Choose from a selection of styles anywhere from a bob with bangs to luxurious curly locks.', button_text: 'Get Started', link: '#', image: 'temp/black-bg.jpg'}
    = render partial: 'about_cell', locals: {title: 'Step 3 - Select Color', description: 'Any color is OK with us.  Use our simplified color selector to come up with your own hair color.', button_text: 'Get Started', link: '#', image: 'temp/black-bg.jpg'}
.container.main-container{style: 'margin-bottom: 50px;'}
  .morePost.row.featuredPostContainer.style2
    .col-lg-12
      %h3.boxes-title-1
        %span Shop Our Pre-Made Wigs
    .container
      .row.xsResponse
        = render partial: 'featured_item', locals: {new: true, original_price: 30, discount_percentage: 15, image: 'temp/temp-wig-1.jpg', title: 'Wig 1', description: 'This is a short description of the wig', cart_link: '#'}
        = render partial: 'featured_item', locals: {new: true, original_price: 80, discount_percentage: 10, image: 'temp/temp-wig-2.jpg', title: 'Wig 2', description: 'This is a short description of the wig', cart_link: '#'}
        = render partial: 'featured_item', locals: {new: true, original_price: 280, discount_percentage: 40, image: 'temp/temp-wig-3.jpg', title: 'Wig 3', description: 'This is a short description of the wig', cart_link: '#'}
        = render partial: 'featured_item', locals: {new: true, original_price: 55, discount_percentage: 75, image: 'temp/temp-wig-4.jpg', title: 'Wig 4', description: 'This is a short description of the wig', cart_link: '#'}
      .row
        .load-more-block.text-center
          = link_to '#', class: 'btn btn-thin' do
            %i.fa.fa-plus-sign +
            SHOP ALL PRE-MADE WIGS
  .parallax-section.parallax-image-2
    .w100.parallax-section-overley
      .container
        .row
          .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .parallax-content.clearfix
              %h1.xlarge Build a Custom Wig
              %h5.parallaxSubtitle Or purchase one of our existing wigs
              = link_to 'Start Here', '#', class: 'btn btn-stroke-light'