= render 'custom_breadcrumbs'
.row
  .col-lg-9.col-md-9.col-sm-7
    %h1.section-title-inner
      %span
        %i.fa.fa-arrows-v
        Step 2 - Choose Length
.row
  .col-lg-9.col-md-9.col-sm-12
    .row.userInfo
      .col-xs-12.col-sm-12
        = render partial: 'steps', locals: {step: :length}
        .w100.clearfix
          .thumbnail{style: 'height: 300px;'}
        .cartFooter.w100
          .box-footer
            .pull-left
              = link_to '/custom', class: 'btn btn-default' do
                %i.fa.fa-arrow-left
                Customization Info
            .pull-right
              = link_to '/custom/design', class: 'btn btn-primary' do
                %i.fa.fa-arrow-right
                Step 2 - Choose Design
  .col-lg-3.col-md-3.col-sm-12.rightSidebar
    = render 'summary'
