!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', http: {equiv: 'X-UA-Compatible'}}
    %meta{content: '', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0', name: 'viewport'}
    %title INSO Wigs & Accessories
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700', rel: 'stylesheet', type: 'text/css'}
    %link{rel: 'shortcut icon', href: image_path('favicon.ico')}
    = stylesheet_link_tag 'application'
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    :javascript
      paceOptions = {
        elements: true
      }
  %body
    = render 'devise/sessions/new'
    .navbar.navbar-tshop.navbar-fixed-top.megamenu{role: 'navigation'}
      .navbar-top
        .container
          .row
            .col-lg-6.col-sm-6.col-xs-6.col-md-6
              .pull-left
                %ul.userMenu
                  %li
                    = link_to '#' do
                      %span
                        %i.glyphicon.glyphicon-phone-alt
                      %span.hidden-xs Contact Us
                  %li.phone-number
                    = link_to 'mailto:info@insowigs.com' do
                      %span
                        %i.glyphicon.glyphicon-envelope
                      %span.hidden-xs{style: 'margin-left: 5px'} info@insowigs.com
            .col-lg-6.col-sm-6.col-xs-6.col-md-6.no-margin.no-padding
              .pull-right
                %ul.userMenu
                  %li
                    = link_to my_account_link do
                      %span.hidden-xs My Account
                      %i.glyphicon.glyphicon-user.hide.visible-xs
                  %li
                    = link_to '#', data: {toggle: 'modal', target: '#ModalLogin'} do
                      %span.hidden-xs Sign In
                      %i.glyphicon.glyphicon-log-in.hide.visible-xs
                  - unless current_user
                    %li.hidden-xs
                      = link_to new_registration_path(resource_name) do
                        Create Account
      .container
        .navbar-header
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-collapse'}}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '.navbar-cart'}}
            %i.fa.fa-shopping-cart.colorWhite
            %span.cartResponse.colorWhite Cart ($0)
          = link_to image_tag('logo.png', style: 'height: 30px;'), root_path, class: 'navbar-brand'
          .search-box.pull-right.hidden-lg.hidden-md.hidden-sm
            .input-group
              %button.btn.btn-nobg.getFullSearch{type: 'button'}
                %i.fa.fa-search
        = render 'layouts/mobile_cart'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active= link_to 'Home', root_path
            %li= link_to 'Our Mission', '#'
            %li= link_to 'Pre-Made Wigs', '#'
            %li= link_to 'Customized Wigs', '#'
          .nav.navbar-nav.navbar-right.hidden-xs
            = render 'layouts/desktop_cart'
            .search-box
              .input-group
                %button.btn.btn-nobg.getFullSearch{type: 'button'}
                  %i.fa.fa-search
      .search-full.text-right
        %a.pull-right.search-close
          %i.fa.fa-times-circle
        .searchInputBox.pull-right
          %input.search-input{type: 'search', name: 'q', placeholder: 'start typing and hit enter to search', data: {searchurl: 'search?='}}
          %button.btn-nobg.search-btn{type: 'submit'}
            %i.fa.fa-search
    = yield
    #footer.footer
      .container
        .row
          .col-lg-3.col-md-3.col-sm-4.col-xs-6
            %h3 Question?
            %ul
              %li.supportLi
                %p Ask us any question, any time!
                %h4
                  = link_to 'mailto:info@insowigs.com', class: 'inline' do
                    %i.fa.fa-envelope-o &nbsp; info@insowigs.com
          .col-lg-2.col-md-2.col-sm-4.col-xs-6
            %h3 Shop
            %ul
              %li= link_to 'Home', root_path
              %li= link_to 'Pre-Made Wigs', '#'
              %li= link_to 'Customized Wigs', '#'
          .col-lg-2.col-md-2.col-sm-4.col-xs-6
            %h3 Our Mission
            %ul
              %li= link_to 'General Fashion'
              %li= link_to 'Cancer / Chemotherapy'
              %li= link_to 'Thyroid Problems'
              %li= link_to 'Alopecia Areata'
              %li= link_to 'Skin Disorders'
              %li= link_to 'Emotional Struggles'
          .col-lg-2.col-md-2.col-sm-4.col-xs-6
            %h3 My Account
            %ul
              %li= link_to 'Sign In'
              %li= link_to 'Sign Up'
              %li= link_to 'My Account'
              %li= link_to 'My Orders'
              %li= link_to 'Wish List'
          .col-lg-3.col-md-3.col-sm-4.col-xs-6
            %h3 Stay In Touch
            %ul
              %li
                .input-append.newsLatterBox.text-center
                  = form_tag '/newsletter' do
                    = email_field_tag :email, '', class: 'full text-center', placeholder: 'Email'
                    = submit_tag 'Subscribe', class: 'btn btn-gray'
            %ul.social
              %li
                = link_to 'http://facebook.com', target: '_blank' do
                  %i.fa.fa-facebook &nbsp;
              %li
                = link_to 'http://twitter.com', target: '_blank' do
                  %i.fa.fa-twitter &nbsp;
              %li
                = link_to 'http://instagram.com', target: '_blank' do
                  %i.fa.fa-instagram &nbsp;
              %li
                = link_to 'http://plus.google.com.com', target: '_blank' do
                  %i.fa.fa-google-plus &nbsp;
              %li
                = link_to 'http://youtube.com', target: '_blank' do
                  %i.fa.fa-youtube &nbsp;
    .footer-bottom
      .container
        %p.pull-left &copy; INSO Wigs 2014.  All rights reserved
        .pull-right.paymentMethodImg
          = image_tag 'paypal.png', class: 'pull-right', height: '30'
    = javascript_include_tag 'application'